.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .box {
      align-items: center;
      display: flex;
      justify-content: center; 
      color: white;  
      font-weight: 600;
  }
  
  
  .box1 {
      background-color: rgb(68, 214, 68);
      
  }
  
  .box2 {
      background-color: rgb(71, 158, 240);
      width: 5rem;
      height: 3rem;
  }
  
  .box3 {
      background-color: rgb(47, 37, 90);
      width: 10rem;
      height: 7rem;
      font-size: 3rem;
  }
  
  .box4 {
      background-color: rgb(147, 72, 218);
  }
  
  .box5 {
      background-color: rgb(226, 117, 27);
  }
  
  .box1, .box5 {
      width: 5rem;
      height: 3rem;
      font-size: 1rem;
  }
  
  .box2, .box4 {
      width: 8rem;
      height: 5rem;
      font-size: 2rem;
  }
